body{background-color: beige;
}
div.container{
    margin: 0 auto ;
    width: 90%;
}
header {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}
nav{
    width: 20%;
    height: 800px;
    background: darkseagreen;
    float: left;
}
div.content{
    width: 80%;
    height: 800px;
    background: aliceblue;
    float: right;
}
footer{
    width: 100%;
    height: 70px;
    background: #016060;
    float: left;

}
.maroon {color: darkred;}
.navy {color: darkblue;}
.indigo{color: blueviolet;}
.spacing{letter-spacing: 2px; word-spacing: 5px;line-height: 20px;
}
.uppercase{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}
.capitalize{text-transform: capitalize;}
.paragraf{
    font-family: "courier new";
    font-size: 20px;
}
ul{
    list-style-type:circle ;
}
li{
    font-family: "tahoma";
    font-size: 15px;
}
